/* Desktop */
@media screen and (min-width: 992px) {
}

/* Mobile & Tablet */
@media screen and (max-width: 991px) {
    .header {
        padding-top: 50px;
    }

    .navbar ul {
        display: none;
    }

    .navbar {
        position: relative;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar .toggle-menu svg {
        width: 30px;
        height: 30px;
        color: #5f5f5f;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: transform 0.4s ease;
        padding: 50px;
    }

    .menu-drawer ul {
        margin-top: 30px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #5f5f5f;
        font-weight: 600;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
}
