* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
    --line-clamp: 2;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.btn {
    border-radius: 12px;
    min-width: 98px;
    background: var(--primary-color);
    display: inline-block;
    font-weight: 500;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: var(--line-clamp, 2);
    -webkit-line-clamp: var(--line-clamp, 2);
    overflow: hidden;
}

.fixed-header {
    background-color: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

/* Header */
.hero-wrap {
    background: #e6f0ff;
    height: calc(100vh - 90px);
    position: relative;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    /* padding-top: 38px; */
    padding: 12px 0;
    background-color: e6f0ff;
    position: sticky;
    top: -26px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500px;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .subtitle {
    font-size: 1.8rem;
    font-weight: 500;
    color: #687690;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.hero .title {
    color: #000336;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.18; /* 118.75% */
    margin-right: 8px;
}

.hero .desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
    margin-top: 30px;
    color: #5a6473;
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* Client */
.client {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .desc {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    color: #7d8589;
}

.client .row-desc {
    margin-top: 23px;
}

.client .images {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client .images a {
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 90px;
    border-radius: 12px;
}

.client .images a:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Guides */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    color: var(--primary-color);
    position: relative;
}

.guides .sub-title::before {
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translatex(-50%);
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
    margin-top: 26px;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .arrow {
    margin-left: 8px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/* Featured */
.featured {
    margin-top: 41px;
    background: #f5fafe;
    padding: 79px 0;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.featured .link {
    display: flex;
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
    align-items: center;
}

.featured .arrow {
    margin-left: 8px;
}

.featured .list {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.featured .item {
    flex: 1;
}

.featured .item .thumb {
    width: 100%;
    width: 350px;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
    background: #ffffff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.featured .item .desc {
    line-clamp: 3;
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    word-break: break-all;
}

.featured .item .info {
    margin-top: 23px;
    display: flex;
    align-items: center;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    color: #444;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 8px;
}

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .stats-trend {
    position: absolute;
    left: 0;
    top: 0;
    width: 239px;
    border-radius: 0 0 12px 12px;
    background: #fff;
    box-shadow: 90px 85px 100px 0 rgba(0, 0, 0, 0.06);
    padding: 45px 22px 40px;
}

.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.26px;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    margin-top: 8px;
}

.stats-trend .sepherate {
    background: #e9e9e9;
    height: 1px;
    margin-top: 25px;
}

.stats .img-block .images {
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    position: relative;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28; /* 128.571% */
    width: 269px;
    position: relative;
}

.stats .info .desc {
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    width: 309px;
}

.stats .info .sub-title::before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 12px;
    background: #000339;
    width: 41px;
    height: 4px;
    left: 0;
    top: -10px;
}

.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-left: 3px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
    background-color: var(--bg-color, #000339);
    color: #fff;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 450;
    letter-spacing: -0.145px;
    line-height: 16px;
}

.stats .row.row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}

.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-desc {
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 24px;
}

/* Subscription */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    align-items: center;
    border-radius: 20px;
    height: 370px;
    background: #063183;
    display: flex;
    position: relative;
}

.subscription .info {
    padding: 0 80px;
    width: 671px;
}

.subscription .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8; /* 187.5% */
}

.subscription .btn {
    margin-top: 20px;
    color: #002366;
    min-width: 151px;
    background-color: #fff;
}

.subscription .imagex {
    position: absolute;
    bottom: 0;
}

/* Footer */
.footer {
    margin-top: 55px;
    padding: 50px 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer a {
    color: #7a7a7e;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    color: #7a7a7e;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.footer .social {
    margin-top: 40px;
    display: flex;
    gap: 0 10px;
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.footer .social-link:hover {
    background-color: #ebebeb;
}

.footer .row-bottom {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    color: #c2c2c2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
}
